<!DOCTYPE html>
<html>
  <head>
    <title>Chillify</title>

    <meta property='og:title' content="Chillify"/>
    <meta property='og:image' content="https://cjchoi97.github.io/images/chillify-screenshot.png"/>
    <meta property='og:description' content="A pixel-perfect clone of the digital music service Spotify"/>
    <meta property='og:url' content="chillify-app.herokuapp.com/" />

    <meta property="og:description" content="A pixel-perfect clone of the digital music service Spotify">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
